

body {
    background-color: #82DDB5;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header {
    text-align: center;
    margin-top: 40px;
}

#logo {
    max-width: 360px;
}

#description, #date {
    max-width: 220px;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2m;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
}

#what {
    background-color:#AFFDE280;
    background-position:center;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height:auto;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 50px;
    padding-bottom: 40px
    
}

.what {
    text-align: left;
    font-size:1.2em;
    font-weight: bold;
    color:#00716F ;
    
}

H1{
    text-align: center;
    font-weight: 1000;
    color:#00716F ;
}

h2{
    text-align: center;
    font-weight: 1000;
    color:#00716F ;
}

.left {
    display:inline-block;
    margin-left: 0px;
    width:50%;
}

.right {
    display:inline-block;
    margin-right:0px;
    
}

.why {
    text-align: left;
    font-weight: bold;
    font-size:1.2em;
    color:#00716F;
}

#why {
    background-color:#AFFDE245;
    padding-left:600px;
    padding-right:600px;
    padding-top:50px;
    padding-bottom:50px;
}

#where {
    background-image: url(img/map.gif);
    height:600px;
    display:block;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
.where1 {
    color:#FF2CDF;
    padding-top:30px
}

.where2 {
    color:#FF2CDF ;
    padding-left:1100px;
    padding-top:40px;
    font-weight: bold;
}



